body{
    display: flex;
}

/* Partie menu  */
.containerMenu{
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
    border: #2A7282 solid 1px;
    background-color: white;
}

.imgLogo{
    width: 60%;
    margin: 20% 10%;
}
.menu{
    /* width: 20%; */
    display: flex;
    flex-wrap: wrap;
    gap: 0.1px;
}
.boutonMenu{
    width: 100%;
    height: 40px;
    background-color: #2A7282;
    color: white;
    box-shadow: 5px 5px 5px #2A7282;
    font-size: 16px;
    border-radius: 5px;
}
.boutonMenu a{
    text-decoration: none;
    color: white;
}

/* Container form */
.formulaireCSS{
    margin-top: 50%;
}

.containerForm img{
    width: 85%;
}

